@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --poppins: "Poppins", sans-serif;

  --cor-background: #fff;
  --cor-principal: #7ca934;
  --cor-texto1: #4d4d4d;
  --cor-texto2: #166282;

  --transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--poppins);
  --nav-height: 6.5rem;
  padding-top: var(--nav-height);
  overflow-x: hidden;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: var(--nav-height);
  width: 100vw;
  --margin-side: 0 16px;

  background-color: var(--cor-principal);

  z-index: 900;
  top: 0;
  left: 0;
  user-select: none;
}

.logo {
  margin: var(--margin-side);
  width: 10rem;
}

/* Botão menu mobile */

.mob-menu-toggle {
  background: transparent;
  border: none;
  margin: var(--margin-side);
  z-index: 1000;
}

.hamburger {
  fill: #fff;
}

.hamburger-line {
  transition: var(--transition);
  transform-origin: center;
}

.mob-menu-toggle[aria-expanded="true"] :is(.hamburger-top, .hamburger-bot) {
  y: 45;
}
.mob-menu-toggle[aria-expanded="true"] .hamburger-top {
  rotate: 45deg;
}
.mob-menu-toggle[aria-expanded="true"] .hamburger-mid {
  opacity: 0;
}
.mob-menu-toggle[aria-expanded="true"] .hamburger-bot {
  rotate: -45deg;
}

/* Nav buttons */

.fixed {
  overflow: hidden;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  inset: 0 0 0 35%;
  background-color: #235c43;
  transform: translateX(100%);
  transition: transform var(--transition);
}

.header-nav[data-visible="true"] {
  transform: translateX(0%);
}

.header-nav ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  font-size: 2rem;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

/* Sections */

.section-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--cor-principal);
}

.menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  width: 100%;

  background-image: url("../assets/fabrica.jpg");
  background-size: cover;
  background-position: center;
}

.menu1 form {
  margin: 1.6rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2.2rem 2.8rem;
  max-width: 47rem;
}

.menu1 fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

.menu1 legend {
  margin-bottom: 1.4rem;
}

.menu1 label {
  color: #166282;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.menu1 input,
.menu1 textarea {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
  border: 1px solid #abbed1;
  border-radius: 1.2rem;
  padding: 0.8rem 1.2rem;
  font-family: var(--poppins);
}

.menu1 :is(input:focus, input:hover, textarea:focus, textarea:hover) {
  outline: 1px solid var(--cor-principal);
}

.menu1 textarea {
  /* height: 7rem; */
  resize: none;
}

.menu1 input[type="submit"] {
  font-weight: 600;
  background-color: var(--cor-principal);
  border: none;
  border-radius: 0.4rem;
  color: #f5f7fa;
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}

.menu1 input[type="submit"]:focus,
.menu1 input[type="submit"]:hover {
  border: none;
  background-color: #235c43;
}

.menu2 {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  gap: 1.6rem;
}

.menu2-texto {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.menu2-texto p,
.menu2-texto ul {
  font-size: 1.4rem;
  color: #4d4d4d;
}

.menu2-texto ul {
  padding-left: 2rem;
}

.menu2-img {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu2-img img {
  width: 100%;
  border-radius: 0.4rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 2rem 1.8rem;

  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
  color: #4d4d4d;
}

.menu3 {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  gap: 1.6rem;
}

.menu3-cards {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.menu3-card h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.menu3-card p {
  font-size: 1.4rem;
}

.menu4 {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  gap: 1.6rem;

  height: auto;
}

.menu4-card {
  transition: 1s;
  max-height: auto;
  transition: max-height 1s;
}

.menu4-card-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-toggle {
  background-color: #f7f7ff;
  border-radius: 0.8rem;
}

.card-toggle-line {
  fill: #7ca934;
  stroke-width: 0.3px;
  stroke: #022e4d;

  transition: var(--transition);
  transform-origin: center;
}

.menu4-card[aria-expanded="true"] :is(.card-toggle-top, .card-toggle-bot) {
  rotate: 45deg;
}

.menu4-card[aria-expanded="true"] {
  max-height: 200vh;
}

.menu4-card-title h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.menu4 p[data-visible="false"] {
  max-height: 0;
  opacity: 0;
  transition: max-height ease-in-out 0.3s, opacity ease-in-out 0.5s;
  z-index: -1;
}

.menu4 p {
  max-height: 100vh;
  transition: max-height ease-in-out 0.3s, opacity ease-in-out 0.5s;
  font-size: 1.4rem;
}

.footer {
  width: 100%;
  background-color: #235c43;
}

.footer-sesi,
.footer-direitos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-sesi {
  height: var(--nav-height);
}

.footer-direitos {
  font-size: 1.4rem;
  color: white;
  background-color: #4d4d4d;
  padding: 0.8rem 0;
}

@media (min-width: 700px) {
  .menu2,
  .menu3 {
    max-width: 55rem;
  }
}

@media (min-width: 1024px) {
  .section-title {
    font-size: 2.4rem;
  }

  .menu1 {
    min-height: auto;
    justify-content: end;
  }

  .menu1 form {
    margin: 2rem 3rem 3rem 0;
  }

  .menu1 label {
    font-size: 1.8rem;
  }

  .menu1 input,
  .menu1 textarea {
    font-size: 1.8rem;
  }

  .menu1 input[type="submit"] {
    font-size: 1.8rem;
  }

  .menu2,
  .menu3,
  .menu4 {
    max-width: 117rem;
  }

  .menu2 {
    flex-direction: row;
  }

  .menu2-texto {
    max-width: 60rem;
  }

  .menu3-cards {
    flex-direction: row;
    gap: 3rem;
  }

  .menu3-card img,
  .menu3-card p {
    margin-bottom: 1.6rem;
  }

  .menu3-card h3 {
    font-size: 2.4rem;
  }

  .menu3-card p {
    font-size: 1.6rem;
  }

  .menu4-card-title h3 {
    font-size: 2.4rem;
  }

  .menu4 p {
    font-size: 1.6rem;
  }
}
