@import url("https://fonts.googleapis.com/css2?family=font-sans:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  --font-sans: "Poppins", sans-serif;

  --branco: #fff;
  --verde-sesi: #7ca934;
  --verde-escuro: #235c43;
  --cinza: #4d4d4d;
  --cinza-azulado: #166282;

  --transition: 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  --margin-side: 16px;
  --nav-height: 6.5rem;
  padding-top: var(--nav-height);
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: var(--nav-height);
  width: 100vw;
  background-color: var(--verde-sesi);

  z-index: 900;
  top: 0;
  left: 0;
  user-select: none;
}

/* Logo SESI */

.logo {
  margin-left: var(--margin-side);
  width: 100px;
}

/* Botão menu mobile */

.mob-menu-toggle {
  background: transparent;
  border: none;
  margin: var(--margin-side);
  z-index: 1000;
}

.hamburger {
  fill: var(--branco);
}

.hamburger-line {
  transition: var(--transition);
  transform-origin: center;
}

.mob-menu-toggle[aria-expanded="true"] :is(.hamburger-top, .hamburger-bot) {
  y: 45;
}
.mob-menu-toggle[aria-expanded="true"] .hamburger-top {
  rotate: 45deg;
}
.mob-menu-toggle[aria-expanded="true"] .hamburger-mid {
  opacity: 0;
}
.mob-menu-toggle[aria-expanded="true"] .hamburger-bot {
  rotate: -45deg;
}

/* Nav buttons */

.fixed {
  /* Blocks scroll while menu is open on mobile */
  overflow: hidden;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;

  inset: 0 0 0 35%;
  background-color: var(--verde-escuro);
  transform: translateX(100%);
  transition: transform var(--transition);
}

.header-nav[data-visible="true"] {
  transform: translateX(0%);
}

.header-nav ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  font-size: 2rem;
}

.header-nav a {
  text-decoration: none;
  color: var(--branco);
  font-weight: 600;
}

/* Sections */

.anchor {
  scroll-margin-top: var(--nav-height);
}

.section-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--verde-sesi);
}

/* Menu 1 */

.menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  width: 100%;

  background-image: url("../assets/fabrica.jpg");
  background-size: cover;
  background-position: center;
}

.menu1 form {
  margin: 1.6rem;
  background-color: var(--branco);
  border-radius: 2rem;
  padding: 2.2rem 2.8rem;
  max-width: 47rem;
}

.menu1 fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

.menu1 legend {
  margin-bottom: 1.4rem;
}

.menu1 label {
  color: var(--cinza-azulado);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.menu1 input,
.menu1 textarea {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
  border: 1px solid #abbed1;
  border-radius: 12px;
  padding: 0.8rem 1.2rem;
  font-family: var(--font-sans);
}

.menu1 :is(input:focus, input:hover, textarea:focus, textarea:hover) {
  outline: 1px solid var(--verde-sesi);
}

.menu1 textarea {
  resize: none;
}

.menu1 input[type="submit"] {
  font-weight: 600;
  background-color: var(--verde-sesi);
  border: none;
  border-radius: 4px;
  color: #f5f7fa;
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  margin-top: 1.4rem;

  transition: var(--transition);
}

.menu1 input[type="submit"]:focus,
.menu1 input[type="submit"]:hover {
  border: none;
  background-color: var(--verde-escuro);
}

/* Menu 2 */

.menu2 {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  gap: 1.6rem;
}

.menu2-texto {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.menu2-texto p,
.menu2-texto ul {
  font-size: 1.4rem;
  color: var(--cinza);
}

.menu2-texto ul {
  padding-left: 2rem;
  line-height: 2.7rem;
}

.menu2-img {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu2-img img {
  width: 100%;
  border-radius: 0.4rem;
}

/* Card para menu 2 e 3 */

.card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 2rem 1.8rem;

  background-color: var(--branco);
  border-radius: 8px;
  box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
  color: var(--cinza);
}

/* Menu 3 */

.menu3 {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  gap: 1.6rem;
}

.menu3-cards {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.menu3-card h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.menu3-card p {
  font-size: 1.4rem;
}

.menu4 {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  gap: 1.6rem;
}

.menu4-card {
  cursor: pointer;
}

.menu4-card-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-toggle {
  background-color: #f7f7ff;
  border-radius: 8px;
}

.card-toggle-line {
  fill: var(--verde-sesi);
  stroke-width: 0.3px;
  stroke: #022e4d;

  transition: var(--transition);
  transform-origin: center;
}

.menu4-card[aria-expanded="true"] :is(.card-toggle-top, .card-toggle-bot) {
  rotate: 45deg;
}

.menu4-card[aria-expanded="true"] {
  max-height: 200vh;
}

.menu4-card-title h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.menu4 p[data-visible="false"] {
  opacity: 0;
  max-height: 0;
  /* Animação fechamento do card */
  transition: max-height ease 0.4s, opacity ease-in 0.3s;
  z-index: -1;
}

.menu4 p {
  max-width: 90%;
  max-height: 100vh;
  opacity: 100;
  /* Animação abertura do card */
  transition: max-height ease-in-out 0.3s, opacity ease-in-out 0.3s;
  font-size: 1.4rem;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--verde-escuro);
}

.footer-sesi,
.footer-direitos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-sesi {
  height: var(--nav-height);
}

.footer .logo {
  margin: 0;
}

.footer-direitos {
  font-size: 1.4rem;
  color: white;
  background-color: var(--cinza);
  padding: 0.8rem 0;
}

@media (min-width: 700px) {
  .fixed {
    overflow: scroll;
  }

  body {
    --margin-side: 75px;
    --nav-height: 9.5rem;
  }

  .mob-menu-toggle {
    display: none;
  }

  .header-nav {
    position: static;
    transform: translateX(0%);
    background-color: transparent;
    margin-right: var(--margin-side);
  }

  .header-nav ul {
    flex-direction: row;
  }

  .menu2,
  .menu3 {
    max-width: 55rem;
  }

  .menu2-img img {
    border-radius: 8px;
  }

  .card {
    border-radius: 12px;
  }
}

@media (min-width: 1024px) {
  body {
    --margin-side: 135px;
    gap: 5rem;
  }

  .logo {
    width: 16rem;
  }

  .header-nav ul {
    gap: 5.5rem;
  }

  .section-title {
    font-size: 2.4rem;
  }

  .menu1 {
    min-height: auto;
    justify-content: end;
  }

  .menu1 form {
    margin: 2rem var(--margin-side) 3rem 0;
    padding: 3rem 3.5rem;
  }

  .menu1 label {
    font-size: 1.8rem;
  }

  .menu1 input,
  .menu1 textarea {
    font-size: 1.8rem;
    padding: 1.4rem 2rem;
    border-radius: 20px;
  }

  .menu1 input[type="submit"] {
    font-size: 1.8rem;
  }

  .menu2,
  .menu3,
  .menu4 {
    max-width: 117rem;
  }

  .menu2 {
    flex-direction: row;
  }

  .menu2-texto {
    max-width: 60rem;
  }

  .menu2-texto p,
  .menu2-texto ul {
    font-size: 1.6rem;
  }

  .menu3-cards {
    flex-direction: row;
    gap: 3rem;
  }

  .menu3-card img,
  .menu3-card p {
    margin-bottom: 1.6rem;
  }

  .menu3-card h3 {
    font-size: 2.4rem;
  }

  .menu3-card p {
    font-size: 1.6rem;
  }

  .menu4-card-title h3 {
    font-size: 2.4rem;
  }

  .menu4 p {
    font-size: 1.6rem;
  }

  .footer-sesi {
    height: 15rem;
  }

  .footer-direitos {
    font-size: 1.6rem;
    padding: 1rem 0;
  }
}
